.top_bar .registration_wrapper {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.top_bar .registration_wrapper .link {
  float: right;
  padding: 0px 10px;
  padding-top: 15px;
}

.top_bar .registration_wrapper .login_body {
	display: none;
	position: absolute;
	padding: 20px;
	top: 50px;
	right: 0px;
	width: 250px;
	min-height: 50px;
	background-color: #FFF;
	box-shadow: 2px 4px 5px #333;
	z-index: 101;
}

.top_bar .registration_wrapper .login_body.show {
	display: block;
}

.top_bar .registration_wrapper .login_body input {
	margin-bottom: 10px;
	border: 1px solid #000;
	border-radius: 2px;
	width: 100%;
	padding: 0px 5%;
	height: 30px;
}

.top_bar .registration_wrapper .login_body input[type="submit"] {
	color: #FFF;
	background-color: #782249;
	margin-top: 10px;
	border: 0px;
}
