body {
    width: 100%;
    height: auto;
    font-family: 'Segoe UI';
    margin: 0 auto;
    background-color: #EBEBEB;
}
 /* make sidebar nav vertical */
@media (min-width: 1200px)
{
.bottom_arrow{ margin-top:-37px;}
.right-contend{height:606px;}
.content{height:606px;}
.menu_content{border-left: 15px solid #EBEBEB;}
  .arrow-right
  {
  position:fixed;
  top:15px;
  right:30px;
  }
  .arrow-left
  {
  position:fixed;
  top:15px;
  left:30px;
  }
}
@media (min-width: 992px)
{
.bottom_arrow{ margin-top:-37px;}
.right-contend{height:606px;}
.content{height:auto;}
  .arrow-right
  {
  position:fixed;
  top:15px;
  right:30px;
  }
  .arrow-left
  {
  position:fixed;
  top:15px;
  left:30px;
  }
  .menu_content{
    border-left: 15px solid #EBEBEB;
  }
  .menu_content{
    border-left: 15px solid #EBEBEB;
  }
}

@media (min-width:768px)
{
.bottom_arrow{ margin-top:-37px;}
.right-contend{height:606px;}
.content{height:auto;}
  .arrow-right
  {
  position:fixed;
  top:15px;
  right:30px;
  }
  .arrow-left
  {
  position:fixed;
  top:15px;
  left:30px;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width:767px)
{
    .bottom_arrow{ margin-top:-37px;}
    .right-contend{height:auto;}
  .arrow-right
  {
  position:fixed;
  top:15px;
  right:30px;
  }
  .arrow-left
  {
  position:fixed;
  top:15px;
  left:30px;
  }
  .menu_content{
    border-left: 15px solid #EBEBEB;
    border-right: 15px solid #EBEBEB;
  }
}
.test{
    margin-top:13px;
}
.main_shop
{
background-color: rgba(201, 201, 201, 0.15);
}
.main_shop h1,.main_shop h2,.main_shop h4{
  color:#D8D8D8;
}
.main_shop p{
  color:#0F0909;
  margin: 0;
  font-family: "Georgia Italic", "Georgia", sans-serif;
}




/****************** footer styles *****************/
.footermenu ul
{
  list-style-type: none;
}
.footermenu li{
  display: inline;
  padding-left: 10px;
  color: #000;
  text-decoration: none;
  font-weight: :bold;
}
.footermenu li a{
  color: #000;
  text-decoration: none;
  font-weight: :bold;
}

.footer p a{
   color: #000;
  text-decoration: none;
  font-weight: :bold;
}

.footer {
   /*border-top:8px solid #782249;
   border-left: 2px solid #782249;
    border-right: 2px solid #782249;
     border-bottom: 2px solid #782249;
     background-color: #fff;
    background: #F4F3EF;
    box-shadow: 0 0 5px #000;*/
    clear: both;
    width:100%;
    min-height: 50px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    position: relative;
}
.footer ul {
  padding-top: 20px;
}

.social_icons {
  position: absolute;
  top: -60px;
}

.social_icons a {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin: 0px 5px;
}

.social_icons .fb {
    margin-left: 15px;
    background: url(../img/social/fb.png) no-repeat;
}

.social_icons .twitter {
    background: url(../img/social/twitter.png) no-repeat;
}

.social_icons .gplus {
    background: url(../img/social/gplus.png) no-repeat;
}

.social_icons .pin {
    background: url(../img/social/pin.png) no-repeat;
}


/**************** footer styles end *************/

/* Carousel Control */



.item ul,.item li{

    list-style-type:none;
}
.top_bar{
    background: url(../img/body_bg.png) repeat-y #782249;
    clear: both;
    display: block;
    border-bottom: 1px solid #000;
    height: 50px;
}


/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
/* === fontawesome === */
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('animate.css');
/*==========================================================================
  General
  ========================================================================== */
* {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
}
.required { /*error*/
    border-color: #A40000 !important;
}

input[type=text], input[type=password], select, textarea {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

a {
   outline: 0px;
}

/* ************************************************************************************************
        NAV MENU
************************************************************************************************ */

/**************** header styles *************/
.header_container
{
  background: url(../img/body_bg.png) repeat-y #782249;
  clear: both;
  width:100%;
  display: block;
  border-bottom:1px solid #000;
  height: 52px;
}

.topbar
{
  clear: both;
  width:100%;
}



/************** header styles end ***********/


.main_container
{
  background: #fff;
  clear: both;
  width:100%;
}


/*************** Slider styles ********************/

.slide_container {
  width: 83%;
  height: 500px;
  overflow: hidden;
  float: left;
  position: relative;
}
.slider {
  height: 500px !important;
  position: relative;
}
.slide {
  display: block !important;
  position: absolute !important;
  width: 820px !important;
  height: 500px !important;
  float: left !important;
  margin-left: 1640px;
}

.place_holder {
  width: 36%;
  float: left;
  height: 100%;
}

.slide_content {
  width: 64%;
  float: left;
  overflow: hidden;
}

.arrow_div {
  position: absolute;
  width: 92%;
  z-index: 100;
  top: 40%;
}

.prev_arrow {
  float: left;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-decoration: none;
  /*background: url('../img/arrow_left.png') no-repeat;*/
}

.next_arrow img,
.prev_arrow img {
  opacity: 0.3;
}

.next_arrow:hover img,
.prev_arrow:hover img {
  opacity: 1;
}

.next_arrow {
  float: right;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-decoration: none;
  /*background: url('../img/arrow_right.png') no-repeat;*/
}

.shop_logo {
  width: 100%;
  overflow: hidden;
  padding: 5px;
  height: 30%;
  float: left;
}
.offers_notifications {
  height: 30%;
  width: 92%;
  margin: 0px 4%;
  float: left;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.46);
}

i{
 color: #E66665;
}

.baby {
  background: -webkit-linear-gradient(#8ACFF0, #F4C2C5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8ACFF0, #F4C2C5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8ACFF0, #F4C2C5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8ACFF0, #F4C2C5); /* Standard syntax (must be last) */
}

.shop_main_links {
  padding: 20px;
}

.shop_main_links a {
  color: #E66665;
  font-weight: bold;
  padding-left: 20px;
}

h4 {
  padding: 10px;
}
.ladies {
  background: -webkit-linear-gradient(white, #A58749); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #A58749); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #A58749); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #A58749); /* Standard syntax (must be last) */

}
.mens {
  background: -webkit-linear-gradient(white, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, black); /* Standard syntax (must be last) */

}
.responsive-slider .slider-control.left, .responsive-slider .slider-control.right {
    font-size: 12px;
    padding: 5px;
}
.responsive-slider .slider-control.left:hover, .responsive-slider .slider-control.right:hover {
    font-size: 12px;
    padding: 5px;
}
.responsive-slider .slider-control {
  opacity: 0.5;
  top: 45%;
  z-index: 105;
}
.container-fluid {
  padding : 0px !important;
}
.row {
  margin: 0px !important;
}
/***************** slider styles end ***************/


/*************** header styles ************/

header {
  float: left;
  width: 17%;
}

header #main_logo {
  height: 40px;
  width: 100%;
  overflow: hidden;
}

header #main_logo img {
  height: 40px;
  width: 100%;
}

/*************** header styles end *************/


/*************** popup styles ******************/

#overlay {
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  width: 100%;
}


#dialogue_popup_container {
  z-index: 2;
  position: absolute;
  width: 100%;
}

#dialogue_popup {
  height: auto !important;
  border-radius: 0px 0px 0px 0px;
  border: 2px solid #ADD8E6;

  z-index: 2;
  position: relative;
  margin-top: 300px !important;
  margin: auto;
  background-color: #FFFFFF;
  display: none;
  overflow: hidden;
  padding-bottom: 20px;
  width: 384px;
  padding: 1%;
}

#dialogue_popup form {
  width: 100%;
}

#dialogue_popup .control {
  width: 100%;
}

#dialogue_popup label {
  width: 50% !important;
  float: left;
}

/*************** popup styles end ******************/
