body {
    width: 100%;
    height: auto;
    font-family: 'Segoe UI';
    margin: 0 auto;
    /*background-image: url(../img/cream_pixels.png);*/
    /*border-left: 2px solid #EBEBEB;
    border-right: 2px solid #EBEBEB;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 1em hsla(255, 90%, 90%, 0.9);
    -moz-box-shadow: 0 0 1em hsla(255, 90%, 90%, 0.9);
    box-shadow: 0 0 1em hsla(255, 90%, 90%, 0.9);*/
    
}
@media (min-width: 1200px)
{
.top_arrow{ margin-top:-988px;}
.bottom_arrow{ margin-top:-37px;}
.right-contend{height:676px;}

}
@media (min-width: 992px)
{
.top_arrow{ margin-top:-988px;}
.bottom_arrow{ margin-top:-37px;}
.right-contend{height:676px;}

}
@media (min-width:768px)
{
.top_arrow{ margin-top:-988px;}
.bottom_arrow{ margin-top:-37px;}
.right-contend{height:676px;}
}
@media (max-width:767px)
{
    .top_arrow{ margin-top:-988px;}
    .bottom_arrow{ margin-top:-37px;}
    .right-contend{height:auto;}
}
.test{
    margin-top:13px;
}

.shop1{
  background-color:#E5449C;
}
  .shop1 h1,.shop1 h2,.shop1 h4{
    color:#fff;
  }
    .shop1 p{
      color:#F17ABC;
      /*text-shadow: 0 0 5px #fff;*/
      /*box-shadow: 0 0 5px #fff;*/
      margin: 0;
      font-family: "Georgia Italic", "Georgia", sans-serif;
    }

.shop2{
  background-color:#4F5962;
}
  .shop2 h1,.shop2 h2,.shop2 h4{
      color:#fff;
    }
      .shop2 p{
        color:#99ABBB;
        margin: 0;
        font-family: "Georgia Italic", "Georgia", sans-serif;
      }
      
.shop3{
  background-color:#7072A4;
} 
  .shop3 h1,.shop3 h2,.shop3 h4{
      color:#fff;
    }
      .shop3 p{
        color: #D3D4DD;
        margin: 0;
        font-family: "Georgia Italic", "Georgia", sans-serif;
      }

.shop4{
  background-color:#8FDFC4;
} 
  .shop4 h1,.shop4 h2,.shop4 h4{
      color:#fff;
    }
      .shop4 p{
        color: #59907D;
        margin: 0;
        font-family: "Georgia Italic", "Georgia", sans-serif;
      }

.shop5{
  background-color:#FF9CAC;
} 
  .shop5 h1,.shop5 h2,.shop5 h4{
      color:#fff;
    }
      .shop5 p{
        color: #AF5F6C;
        margin: 0;
        font-family: "Georgia Italic", "Georgia", sans-serif;
      }

.arrow_box:after {
  position: absolute;
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 15px;
  margin-top: -15px;
}
  .fb:after {
    border-left-color: #889ED6;
  }
  .twitt:after {
    border-left-color: #b3d4fc;
  }
  .sp2:after{
    border-left-color: #FF9CAC;
  }
.arrow {
position: absolute;
top: 53px;
left: 134px;
background: url(../img/arrow.png) no-repeat;
width: 12px;
height: 23px;
}
.sp1{
  height:100px;
}
#block1{
  background-color:#EBF1FF;
}
#block2{
background-color:#F3FEFF;
}
#sp1_fb_block
{
background-color:#889ED6
}
.contend_bottom_sp2{
  height:200px;background-color:#FF9CAC;
}
.contend_bottom_sp3{
height:200px;background-color:#8FDFC4;
}
.contend_bottom_sp4{
height:200px;background-color:#7072A4;
}
.contend_bottom_sp5{
height:200px;background-color:#4F5962;
}
.footermenu ul
{
  list-style-type: none;
}
.footermenu li{
  display: inline;
  padding-left: 10px;
  color: #000;
  text-decoration: none;
  font-weight: :bold;
}
.footermenu li a{
  color: #000;
  text-decoration: none;
  font-weight: :bold;
}
/* Carousel Control */

.carousel-control{
    border-radius: 0px;
    display: inline-block;
    font-size: 60px;
    font-weight: 200;
    line-height: 12px;
    opacity: 0.5;
    padding: 5px 0px 0 1px;
    position: static;
    height: 36px;
    width: 75px;
}
.footer p a{
   color: #000;
  text-decoration: none;
  font-weight: :bold;
}
.item ul,.item li{

    list-style-type:none;
}


/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
/* === fontawesome === */
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('animate.css');
/*==========================================================================
  General
  ========================================================================== */
* {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
}
.required { /*error*/
    border-color: #A40000 !important;
}

input[type=text], input[type=password], select, textarea {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.IconSuccess {
    height: 16px;
    position: absolute;
    width: 16px;
    margin-top: 7px;
    margin-left: 2px;
    background: url('../IMG/icon-success.png') no-repeat;
}
.IconRemove {
    height: 16px;
    position: absolute;
    width: 16px;
    margin-top: 7px;
    margin-left: 2px;
    background: url('../IMG/icon-remove.png') no-repeat;
}
/* ************************************************************************************************
        NAV MENU
************************************************************************************************ */

/*header*/
.header_container
{
  background: url(../img/body_bg.png) repeat-y #782249;
  clear: both;
  width:100%;
  display:block;
  border-bottom:1px solid #000;
  height: 52px;
}
.contend
{
    margin-top:-20px;
}
.topbar
{
clear: both;
width:100%;
}
.main_container
{
background: #fff;
clear: both;
width:100%;
}
/*footer new*/

.footer {
   /*border-top:8px solid #782249;
   border-left: 2px solid #782249;
    border-right: 2px solid #782249;
     border-bottom: 2px solid #782249;
     background-color: #fff;
    background: #F4F3EF;
    box-shadow: 0 0 5px #000;*/
    clear: both;
    width:100%;
    min-height: 50px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
.footer ul{
  padding-top: 20px;
}

