<div id="login_content" class="login_body">
    <form method="post" action="">
        <p hg-show="error_flag" class="validation">[[ error_message ]]</p>
        <div>
            <label for="id_username">Username</label>
            <input ng-model="username" id="id_username" type="text" name="username" maxlength="254">
        </div>
        <div>
            <label for="id_password">Password</label>
            <input ng-model="password" id="id_password" type="password" name="password">
        </div>

        <input ng-click="login()" type="submit" value="Sign in" />
    </form>
    <div>
        <div class="social_login">
            <a href="{% url "socialauth_begin" 'facebook' %}" class="button facebook" ng-click="login_by_facebook()"><img src="/static/img/fb.jpg" /></a>
            <a href="{% url "socialauth_begin" 'google' %}" class="button gmail" ng-click="login_by_gmail()"><img src="/static/img/google-icon.png" /></a>
        </div>
    </div>
</div>
{% comment %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endcomment %}


