<div class="login_body">
    <form method="post" action="">
    {% csrf_token %}
        <p hg-show="error_flag" class="validation">[[ error_message ]]</p>
        <div>
            <label for="id_username">Username</label>
            <input ng-model="username" id="id_username" type="text" name="username" maxlength="254">
        </div>
        <div>
            <label for="id_password">Password</label>
            <input ng-model="password" id="id_password" type="password" name="password">
        </div>

        <input ng-click="login()" type="submit" value="login" />
        <input type="hidden" name="next" value="" />
    </form>
</div>

{% comment %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endcomment %}


