<div class="login_body">
    <form method="post" action="">
    {% csrf_token %}
        <div>
            <label for="id_username">Username</label>
            <input id="id_username" type="text" name="username" maxlength="254">        
        </div>
        <div>
            <label for="id_password">Password</label>
            <input id="id_password" type="password" name="password">
        </div>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="" />
    </form>
</div>

{% comment %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endcomment %}