<div id="signup_content" class="signup_body">
    <form class="signup" method="post" action="">
        <p hg-show="error_flag" class="validation">[[ error_message ]]</p>

        <div class="block">
            <label for="id_email">Email</label>
            <input ng-model="email" id="id_email" type="text" name="email">
        </div>

        <div class="block">
            <label for="id_password">Password</label>
            <input ng-model="password" id="id_password" type="password" name="password">
        </div>

        <div class="block">
            <label for="id_password">Confirm Password</label>
            <input ng-model="password_confirm" id="id_password_confirm" type="password" name="password_confirm">
        </div>
        <input ng-click="signup()" type="submit" value="SignUp" />
    </form>
    <div class="social_login">
            <p>Login With</p>
            <a href="{% url "socialauth_begin" 'facebook' %}" class="button facebook">Facebook</a><br />
            <a href="{% url "socialauth_begin" 'twitter' %}" class="button twitter">Twitter</a>
    </div>
</div>



