{% load category_tags %}


<div id="menu_category">
    <ul>
        {% for p in parents %}
            <li><a ng-click="get_subcategory({{ p.id }} ,'{{ p.is_leaf_node }}')" href="#">{{ p.name }}</a></li>
        {% endfor %}
    </ul>
    {% comment %}
    <ul>
      {% recursetree parents %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
    {% endcomment %}
</div>
