{% extends 'base.html' %}
{% load inventory_tags %}

{% block title %}Shop Index{% endblock title %}
{% block extrahead%}

{% endblock extrahead%}


{% block controller %}
  ng-controller="HomeController" ng-init="init('{{ csrf_token }}')"
{% endblock controller %}


{% block header %}

{% endblock header %}

{% block body_id %}shop{% endblock %}"
{% block content %}
    <div class="content_wrapper">

        <div class="menu_container">
            {% get_category_menu shop.id category %}
        </div>

        <div class="content_container">
            <h2>Shop Landing Page for {{ shop.shop_name }}</h2>
            <div class="product_wrapper">
                {% for product in products %}
                    <a href="#" class="product">
                        <img src="{{ product.item.get_image }}">
                        <div> {{ product.item.get_name }} </div>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}