<!DOCTYPE html>
<html lang="en" ng-app="fbm">
 <head>
	<meta charset="UTF-8" />
	<title>{% block title %}{% endblock title%} | D-Camelot </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/responsive-slider.css" rel="stylesheet">
	<link href="/static/css/styles.css" rel="stylesheet">
	<link href="/static/css/product.css" rel="stylesheet">
	<link href="/static/css/topbar.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	{% block extrahead %}
	{% endblock extrahead %}
 </head>
 <body id="{% block body_id %}base{% endblock %}"  {% block controller %}{% endblock controller %}>
	<div class="container-fluid">
		{% include 'topbar.html' %}
	</div>
	<div id="content_container"  class="container-fluid">
		{% block header %}
			{% include 'header.html' %}
		{% endblock header %}

		{% block content %}
		{% endblock content %}

		{% block extra-content %}
			<div id="overlay"></div>
		    <div id="signup_popup_container">
		        <div id="signup_popup">
		            <div class="close_pop"></div>
		            {% include 'registration/signup.html' %}
		        </div>
		    </div>
		{% endblock extra-content %}

	</div>
	{% block footer %}
		{% include 'footer.html' %}
	{% endblock footer %}

	<script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 	0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', 			__linkClick, false);}}
	</script>
	<script type="text/javascript" src="/static/mootools/library/mootools-core-1.4.5-full-compat-yc.js"></script>
	<script type="text/javascript" src="/static/mootools/library/mootools-more-1.4.0.1.js"></script>
	<script type="text/javascript" src="/static/mootools/common.js"></script>

    <script src="/static/angular_app/library/angular/angular.js"></script>
    <script src="/static/angular_app/library/angular/angular-resource.js"></script>
    <script src="/static/angular_app/app.js"></script>
    <script src="/static/angular_app/services.js"></script>
    <script src="/static/angular_app/directives.js"></script>
    <script src="/static/angular_app/router.js"></script>
    <script src="/static/angular_app/controllers.js"></script>

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/responsive-slider.js"></script>
	<script src="/static/mootools/simple-modal.js"></script>
	<script src="js/navmenu.js"></script>
	<script>// Carousel Auto-Cycle
	$(document).ready(function() {
	$('.carousel').carousel({
	interval: 60000
	})
	});
	</script>
	{% block optional_scripts %}
	{% endblock optional_scripts %}
 </body>
</html>

