<header>
  <!-- <div class="col-xs-12 col-md-12 col-md-2 col-lg-2 menu_content" style="background-color:#fff;"> -->
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-sm visible-xs navbar-brand">D-Camelot</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Menu Item 1</a></li>
              <li><a href="#">Menu Item 2</a></li>
              <li><a href="#">Menu Item 3</a></li>
              <li><a href="#">Menu Item 4</a></li>
              <li><a href="#">Reviews</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  <!-- </div> -->
</header>
