{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}
{% block extrahead%}

{% endblock extrahead%}
{% block controller %}
  ng-controller="HomeController" ng-init="init('{{ csrf_token }}')"
{% endblock controller %}
{% block body_id %}home{% endblock %}"
{% block content %}
    <div class="slide_container" >
        <div class="arrow_div">
             <a class="prev_arrow"><img src="/static/img/arrow_left.png" /></a>

             <a class="next_arrow"><img src="/static/img/arrow_right.png" /></a>
        </div>
        <div class="slider">
            <div class="slide" >
                <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                    <div class="slides" data-group="slides">
                        <ul>
                            <li>
                          <div class="slide-body" data-group="slide">
                            <img src="/static/img/slide/dc-slide-1.jpg" height="500">
                          </div>
                            </li>
                            <li>
                          <div class="slide-body" data-group="slide">
                            <img src="/static/img/slide/dc-slide-2.jpg" height="500">
                          </div>
                            </li>
                            <li>
                          <div class="slide-body" data-group="slide">
                            <img src="/static/img/slide/dc-slide-3.jpg" height="500">
                          </div>
                            </li>
                            <li>
                          <div class="slide-body" data-group="slide">
                            <img src="/static/img/slide/dc-slide-4.jpg" height="500">
                          </div>
                            </li>
                        </ul>
                    </div>
                    <a class="slider-control left" href="#" data-jump="prev">Prev</a>
                    <a class="slider-control right" href="#" data-jump="next">Next</a>
                    <div class="pages">
                      <a class="page" href="#" data-jump-to="1">1</a>
                      <a class="page" href="#" data-jump-to="2">2</a>
                      <a class="page" href="#" data-jump-to="3">3</a>
                      <a class="page" href="#" data-jump-to="4">4</a>
                    </div>
                </div>

            </div>
            {% for shop in shops %}
              <div class="slide {{shop.shop_type}}">
                  <div class="place_holder">
                    <div class="shop_logo">
                      <img src="/site_media/{{shop.logo}}">
                    </div>
                    <div class="offers_notifications">
                      {% for offer in offers %}
                      {% endfor %}
                      <h4> 20% discount for new Customers </h4>
                    </div>
                    <div class="shop_main_links">
                      {% if shop.brands %}
                        <ul> <i>Our Main Brands </i>
                          {% for brand in shop.brands.all %}
                            <li><a href="{{brand.brand_name}}"> {{brand.brand_name}} </a> </br></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  </div>
                  <div class="slide_content">
                    <img src="/site_media/{{shop.slider_image}}" height="550" />
                  </div>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}