{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}
{% block extrahead%}
{% endblock extrahead%}
{% block controller %}
  ng-controller="HomePageController" ng-init="init('{{csrf_token}}')"   
{% endblock controller %}
{% block body_id %}home{% endblock %}"
{% block content %}
<div class="col-xs-12 col-md-12 col-md-10 col-lg-10">  
            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                 <div class="item active">
                            <ul>
                                <li class="col-xs-12 col-md-12 col-md-6 col-lg-6" id="main_slide">
                                    <!-- Responsive slider - START --><div class="row">
                                            <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                                            <div class="slides" data-group="slides">
                                                <ul>
                                                    <li>
                                                  <div class="slide-body" data-group="slide">
                                                    <img src="/static/img/slide/3.jpg">
                                                  </div>
                                                    </li>
                                                    <li>
                                                  <div class="slide-body" data-group="slide">
                                                    <img src="/static/img/slide/2.jpg">
                                                  </div>
                                                    </li>
                                                    <li>
                                                  <div class="slide-body" data-group="slide">
                                                    <img src="/static/img/slide/3.jpg">
                                                  </div>
                                                    </li>
                                                    <li>
                                                  <div class="slide-body" data-group="slide">
                                                    <img src="/static/img/slide/2.jpg">
                                                  </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a class="slider-control left" href="#" data-jump="prev">Prev</a>
                                            <a class="slider-control right" href="#" data-jump="next">Next</a>
                                            <div class="pages">
                                              <a class="page" href="#" data-jump-to="1">1</a>
                                              <a class="page" href="#" data-jump-to="2">2</a>
                                              <a class="page" href="#" data-jump-to="3">3</a>
                                              <a class="page" href="#" data-jump-to="4">4</a>
                                            </div>
                                            </div></div>
                                          <!-- Responsive slider - END -->
                                </li>

                                <li class="col-xs-12 col-md-12 col-md-6 col-lg-6 home_main_content">

                                    <div class="row"> 
                                        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 right-contend main_shop">
                                        <h1 class="text-center">SHOP 1</h1>
                                            <h2 class="text-center">Ongoing Offer</h2>
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><img  class="test" src="/static/img/offer-20.jpg"/></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>20% Off. Mega Discount</h4>
                                              <p>Discount available in all sarees and salwar kameez.</p>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-ship.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>Ready to ship</h4>
                                              <p>Looking to shop in hurry !! We can ship all the product in 3-4 working days</p>
                                                 </div>
                                            </div>

                                              <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-fb.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>5% Additional OFF for FaceBook user</h4>
                                              <p>Get 5% more discount for our exclusive registered Facebook Friends<br />facebook.com</p>
                                                 </div>
                                            </div>
                                     </div>
                                    </div>
                                </li>

                            </ul>
                      </div><!-- /Slide1 --> 
                    <div class="item">
                            <ul>
                                <li class="col-xs-12 col-md-12 col-md-12 col-lg-12 content" id="main_slide_1">
                                <div class="container">
                                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 shop1" style="margin-top: 313px;">
                                         <div class="row">
                                        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 ">
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><img  class="test" src="/static/img/offer-20.jpg"/></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>20% Off. Mega Discount</h4>
                                              <p>Discount available in all sarees and salwar kameez.</p>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-ship.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>Ready to ship</h4>
                                              <p>Looking to shop in hurry !! We can ship all the product in 3-4 working days</p>
                                                 </div>
                                            </div>

                                              <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-fb.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>5% Additional OFF for FaceBook user</h4>
                                              <p>Get 5% more discount for our exclusive registered Facebook Friends<br />facebook.com</p>
                                                 </div>
                                            </div>
                                     </div>
                                    </div>
                                     </div>
                                </div>
                                   
                                </li>

                            </ul>
                      </div><!-- /Slide2 --> 
                      <div class="item">
                            <ul>
                                <li class="col-xs-12 col-md-12 col-md-12 col-lg-12 content" id="main_slide_2">
                                <div class="container">
                                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 shop2" style="margin-top: 313px;">
                                         <div class="row">
                                        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 ">
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><img  class="test" src="/static/img/offer-20.jpg"/></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>20% Off. Mega Discount</h4>
                                              <p>Discount available in all sarees and salwar kameez.</p>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-ship.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>Ready to ship</h4>
                                              <p>Looking to shop in hurry !! We can ship all the product in 3-4 working days</p>
                                                 </div>
                                            </div>

                                              <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-fb.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>5% Additional OFF for FaceBook user</h4>
                                              <p>Get 5% more discount for our exclusive registered Facebook Friends<br />facebook.com</p>
                                                 </div>
                                            </div>
                                     </div>
                                    </div>
                                     </div>
                                </div>
                                   
                                </li>

                            </ul>
                      </div><!-- /Slide3 --> 
                       <div class="item">
                            <ul>
                                <li class="col-xs-12 col-md-12 col-md-12 col-lg-12 content" id="main_slide_3">
                                <div class="container">
                                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 shop3" style="margin-top: 313px;">
                                         <div class="row">
                                        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 ">
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><img  class="test" src="/static/img/offer-20.jpg"/></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>20% Off. Mega Discount</h4>
                                              <p>Discount available in all sarees and salwar kameez.</p>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-ship.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>Ready to ship</h4>
                                              <p>Looking to shop in hurry !! We can ship all the product in 3-4 working days</p>
                                                 </div>
                                            </div>

                                              <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-fb.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>5% Additional OFF for FaceBook user</h4>
                                              <p>Get 5% more discount for our exclusive registered Facebook Friends<br />facebook.com</p>
                                                 </div>
                                            </div>
                                     </div>
                                    </div>
                                     </div>
                                </div>
                                   
                                </li>

                            </ul>
                      </div><!-- /Slide4 --> 
                      <div class="item">
                            <ul>
                                <li class="col-xs-12 col-md-12 col-md-12 col-lg-12 content" id="main_slide_4">
                                <div class="container">
                                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 shop4" style="margin-top: 313px;">
                                         <div class="row">
                                        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12 ">
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><img  class="test" src="/static/img/offer-20.jpg"/></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>20% Off. Mega Discount</h4>
                                              <p>Discount available in all sarees and salwar kameez.</p>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-ship.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>Ready to ship</h4>
                                              <p>Looking to shop in hurry !! We can ship all the product in 3-4 working days</p>
                                                 </div>
                                            </div>

                                              <div class="row">
                                                <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2"> 
                                                    <a href="#"><a href="#"><img src="/static/img/offer-fb.jpg" class="test" alt="" /></a>
                                                </div>
                                                <div class="col-xs-12 col-ms-10 col-md-10 col-lg-10">
                                                    <h4>5% Additional OFF for FaceBook user</h4>
                                              <p>Get 5% more discount for our exclusive registered Facebook Friends<br />facebook.com</p>
                                                 </div>
                                            </div>
                                     </div>
                                    </div>
                                     </div>
                                </div>
                                   
                                </li>

                            </ul>
                      </div><!-- /Slide5 --> 
                </div>
                </div>
            </div><!-- /#myCarousel -->
        </div>
        {% endblock content %}