<div class="row top_bar">
      {% if d_camelot.logo %}
        <div id="main_logo">
          <a href="{% url 'home' %}"><img src="{{ d_camelot.get_logo }}"></a>
        </div>
      {% endif %}
	<div class="top_menu_wrapper">
    {% if user.is_anonymous %}
        <a ng-click="show_popup('login')" class="link login" href="#">Login</a>
        <a ng-click="show_popup('signup')" class="link signup" href="#">Sign Up</a>
        {% include 'registration/login.html' %}
    {% else %}
        <a ng-click="show_popup('profile')" class="link user" href="#">{{ user.username }}</a>
        <div id="user_content" class="user_profile_body">
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                <!-- <li><a href="{% url 'socialauth_disconnect' 'facebook' %}?url=home"  class="discount_button" ng-show="facebook_login">Log Out Facebook</a></li>
                <li><a href="{% url 'socialauth_disconnect' 'google' %}?url=home"  class="discount_button" ng-show="gmail_login">Log Out Gmail</a> -->
            </ul>
        </div>
    {% endif %}
        <a href="#" class="shop_cart"></a>
	</div>
</div>


